## .gitignore generated with love by Mhirba

#
# PACKAGE MANAGER
#

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
## depending of Zero-install or not ⬇️
.pnp.*

## Modules dependencies if nodeLinket set to node modules
node_modules/

#
# TESTING
#

## Coverage
coverage/

#
# LOGS
#

*.log
logs/

#
# MISCELLANEOUS
#

## Integrated development editor
.idea/
.vscode/

## Operating system
.DS_Store  